src/main/resources/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Order" type="OrderType"/>
  <xs:complexType name="GoodsType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="weight"/>
      <xs:element type="xs:string" name="volume"/>
      <xs:element type="xs:string" name="cost"/>
      <xs:element type="xs:string" name="comment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element type="DeliveryPointsType" name="DeliveryPoints"/>
      <xs:element type="GoodsType" name="Goods"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeliveryPointsType">
    <xs:sequence>
      <xs:element type="xs:string" name="strartingPoint"/>
      <xs:element type="xs:string" name="destination"/>
      <xs:element type="xs:string" name="distance"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>