src/main/resources/park.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.epam.com/trucks"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="trucks" type="trucksType"/>
  <xs:complexType name="truckType">
    <xs:sequence>
      <xs:element type="xs:string" name="model"/>
      <xs:element type="xs:string" name="capacityByWeight"/>
      <xs:element type="xs:string" name="capacityByVolume"/>
      <xs:element type="xs:string" name="pricePerKm"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trucksType">
    <xs:sequence>
      <xs:element type="truckType" name="truck"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>